.home-greetings__buttons .btn {
    background-color: #2552aa;
    color: #ffffff;
  
}
.signup .btn {
    height: 30px;
}
ul li a{
    text-decoration: none;
    color: #2552aa;
}
#login{
    background-color: #2552aa;
    color: #ffffff;
}
#login:hover {
   background-color:#0d6efd;
   }
   .mynav ul {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .mynav a {
    display: block;
    font-size: 15px;
    color: #2552aa;
    text-decoration: none;
    padding: 7px 15px;
  }
   .mynav a:hover{
    color: #0d6efd;
   }

   .col .card img{
    height: 400;
    width: 350;
   }
.faq h4 {
    color: #2552aa;
}
#dates , h1 , h4 , h3, h6 , .btn , i{
    color: #2552aa;
}

td{
    height: 100px;
}
.containers{
    padding-left: 15%;
    padding-right: 15%;
   
}

.sidebar {
    height: 680px;
    width: 270px;
    list-style: none;
    border: 2px solid #92a8d4;
    font-size: 20;
  }
  .sidebar li a {
    display: block;
    padding-top: 20;
    padding-bottom: 30;
    text-decoration: none;
    color: #2552aa;
    
  }
  .sidebar li a:hover {
    background-color: rgb(234 240 255); 
  }
a{
    text-decoration: none;
}
input[type=text] , input[type=password]{
    border-color: #2552aa;
}
